@import url(https://fonts.googleapis.com/css?family=Quattrocento|Quattrocento+Sans);


h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

h1 {
  font-family: 'Quattrocento', serif;
}

h2, h3, h4, h5, h6 {
  font-family: 'Quattrocento Sans', sans-serif;
}



.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
 /* border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4; */
  margin-top:10px;
  margin-bottom:15px;
  padding:20px;
  padding:10px;
}

.btn-primary {
   
    background-color: #54EBBD;
    border-color: #54EBBD;

}

body {
  background:url('/assets/cream_dust.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

/*------Navbar------*/

a:hover {
  color: #54EBBD;
  text-decoration: none;
}


/* unvisited link */
a {
    color:  #000;
}


.navbar.navbar-inverse {
  background:url('/assets/navy_blue.png');
  border-radius: 0;
  box-shadow: 0px 1px 3px #2a2a2a;
  margin-bottom:0;
}



.navbar-inverse .navbar-nav > li > a {
   
   font-family: 'Quattrocento Sans', sans-serif;
}

.navbar-right {
  float: right;
  margin-left: 1010px;
}
  


.navbar-inverse .navbar-brand {
  color: #54EBBD;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: -0.3px;
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:8px;
}


/*--------google maps show page-----------*/

 #map {
  height: 300px;
}


.clear {
    clear: both;
}


blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/*--------- carousel----------*/

.carousel .item {
    width: 100%; /*slider width*/
    max-height: 550px; /*slider height*/
}
.carousel .item img {
    width: 100%; /*img width*/
}
/*full width container*/
@media (max-width: 767px) {
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
}
/*
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height: 650px;
    width: 100%;
}

.carousel-control.left, .carousel-control.right{
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.0001) 100%);
  background-image: -o-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.0001) 100%);
  background-image: linear-gradient(to right, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}

.carousel{
  position: center;
  height:100%;
  width:100%;
}


/*.carousel-caption {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 60px;
    font-weight:100;
    text-shadow: rgba(0,0,0,0.95) 2px 2px;
    width:100%;
    position:absolute;
    left:0;
}*/

/*
.img.img-responsive {
  width: 1423px;
  height: 515px;
}  */
/* pagination****/
.pagination a, .pagination span.current, .pagination span.gap {
	float: left;
	padding: 0 14px;
	line-height: 38px;
	text-decoration: none;
	background-color: white;
	border: 1px solid #DDD;
	border-left-width: 0;
	font-family: 'Quattrocento Sans', sans-serif;
}


.pagination {
	border-left: 1px solid #ddd;
	margin:0 auto;
	.first{
		padding : 0;
		float: none;
		border: none;
	}
	.prev {
		padding : 0;
		float: none;
		border: none;
	}
	.page{
		padding : 0;
		float: none;
		border: none;
	}
	.next{
		padding : 0;
		float: none;
		border: none;
	}
	.last{
		padding : 0;
		float: none;
		border: none;
	}
}